[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
torch = "~=1.12"
torchvision = "0.13.0"
argparse = "*"
albumentations = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.8"
